# Next.js client env
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Server-side env
SUPABASE_SERVICE_ROLE_KEY=

# Edge Functions secret
# For local edge functions, also duplicate this value into supabase/functions/.env
BOT_TOKEN=


#LLM embending generate token
HF_API_TOKEN=
